/* CSS GENERAL */
  .bg-azulInvertido {
    background: linear-gradient(to top, lightblue, transparent); }
  
  .col-12, .col-lg-12 {
    padding: 0; }
    .footer {
      width: 100%;
      height: 300px;
    }
    .container {
      min-height: calc(100vh - 100px);
    }